*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color: #ccbdca;
}

/* INICIO HEADER */
header{
    background-color: rgba(189, 183, 166, 0.9);
    justify-content: center;
    display: flex;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 5px;
}

header p{
    font-size: 30px;
    margin: 5px;
    color: #391E46;
}

header a{
    font-size: 90%;
    font-weight:500;
    text-decoration: none;
    color: #6c278b;
    padding: 5px;
}

header a:hover{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

/* FIN HEADER */

/* INICIO HERO */
#hero{
    background-image:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(./imagen2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#hero h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

#hero button{
    padding: 20px;
    font-size: 20px;
    border-radius: 1vh;
    border: 1px solid grey;
    background-color: rgb(196, 187, 187);
    box-shadow: -0px -0px 8px 1px black;
}

#hero button:hover{
    cursor: pointer;
    background-color: rgb(165, 159, 159);
    box-shadow: -0px -0px 8px 1px white;
    font-weight: bold;
}
/* FIN HERO */

/* INICIO DESCRIPCION */
#somos__mecanogratis{
    margin: 10px;
    padding: 10px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#somos__mecanogratis img{
    width: 300px; 
    height: 200px;
    border-radius: 1vh;
    box-shadow: -0px -0px 5px black;
}

#somos__mecanogratis h2{
    font-size: 30px;
    margin: 10px 0px 0px 0px;
    color: #391E46;
}

#somos__mecanogratis p{
    font-size: 20px;
    font-weight: bold;
}
/* FIN DESCRIPCION */

/* INICIO CURSOS */
.cursos__tittle{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.principiante, .medio, .avanzado{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#cursos h3{
    font-size: 20px;
}

#cursos p{
    font-size: 20px;
    margin: 0 10px 30px 10px;
}

#cursos button{
    padding: 15px;
    font-size: 15px;
    border-radius: 1vh;
    border: 1px solid grey;
    background-color: rgb(216, 206, 206);
    box-shadow: -0px -0px 10px 1px black;
    margin-bottom: 15px;
}

#cursos button:hover{
    cursor: pointer;
    background-color: rgb(187, 179, 179);
    font-weight: bold;
}
/* FIN CURSOS */

/* INICIO CARTAS */
.teclados__contenedor{
    display: flex;
    justify-content: center;
    background-color: #391E46;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

#cartas{
    background-color: #391E46;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carta{ 
    background-color: #6c278b;
    width: 80%;
    margin: 10px auto 10px auto;
    box-shadow: -0px -0px 20px 1px black;
}

.carta h3{
    color: white;
    font-size: 25px;
}

.carta p{
    font-size: 15px;
    font-weight: bold;
    margin: 0px 10px 10px 10px;
}
/* FIN CARTAS */
#fin__pagina{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(./imagen4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: white;
}

#fin__pagina h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

#fin__pagina button{
    padding: 20px;
    font-size: 20px;
    border-radius: 1vh;
    border: 1px solid grey;
    background-color: rgb(196, 187, 187);
    box-shadow: -0px -0px 8px 1px black;
}

#fin__pagina button:hover{
    cursor: pointer;
    background-color: rgb(165, 159, 159);
    box-shadow: -0px -0px 8px 1px white;
    font-weight: bold;
}
/* FIN FIN DE PAGINA */

/* INICIO FOOTER */
footer .copy{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
/* FIN FOOTER */

/* INICIO MEDIA QUERY */
/* INICIO MEDIA HEADER */
@media (min-width: 855px){
    header .container{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    header .container p{
        margin-left: 50px;
        font-size: 50px;
    }

    header .container a{
        font-size: 20px
    }
    /* FIN MEDIA HEADER */

    /* INICIO MEDIA HERO */
    #hero{
        height: 835px;
    }

    #hero h1{
        font-size: 70px;
    }
    /* FIN MEDIA HERO */

    /* INICIO MEDIA DESCRIPCION */
    #somos__mecanogratis{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 30px auto 20px auto;
    }

    #somos__mecanogratis .img__container{
        margin: 20px 40px 20px 20px;
        display: flex;
        align-items: center;
    }

    #somos__mecanogratis img{
        width: 400px;
        height: 300px;
    }

    #somos__mecanogratis .container{
        margin: auto;
    }
    /* FIN MEDIA DESCRIPCION */

    /* INICIO MEDIA CURSOS */
    #cursos{
        display: flex;
    }

    #cursos h3{
        font-size: 30px;
    }
    /* FIN MEDIA CURSOS */

    /* INICIO MEDIA CARTAS */
    #cartas{
        display: flex;
        flex-direction: row;
    }

    .carta{
        margin: 40px;
    }

    .carta p{
        font-size: 18px;
    }
    /* FIN MEDIA CARTAS */

    /* INICIO MEDIA FIN DE PAGINA */
    #fin__pagina h1{
        font-size: 70px;
    }
    /* FIN MEDIA FIN DE PAGINA */

    /* INICIO MEDIA FOOTER */
    footer .copy{
        display: flex;
        justify-content: end;
        margin: 10px 30px 10px 0;
    }

    footer p{
        font-size: 20px;
        margin: 0%;
    }
    /* FIN MEDIA FOOTER */
}

/* FIN PAGINA TOTALMENTE RESPOSIVE */
